healthmonitor.txt
[{"id":"61e55925.be4ac8","type":"tab","label":"smart health auto ai","disabled":false,"info":""},{"id":"ca81f40c.d3aef8","type":"ibmiot in","z":"61e55925.be4ac8","authentication":"apiKey","apiKey":"9516e6f5.4e6998","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"987654","applicationId":"","deviceType":"Healthmonitor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":100,"wires":[["b1c1fc3b.3fb28","50431673.164aa8"]]},{"id":"b1c1fc3b.3fb28","type":"function","z":"61e55925.be4ac8","name":"retriving ibm iot health values","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Systolic\",msg.payload.Systolic)\nglobal.set(\"Diastolic\",msg.payload.Diastolic)\nglobal.set(\"Pulse\",msg.payload.Pulse)\nvar apikey=\"-Garz8wyGPxhbAfE3lRgRlrR0urS_9WD1e_HqZwO1Apv\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":100,"wires":[["3b928682.69d3ea"]]},{"id":"3b928682.69d3ea","type":"http request","z":"61e55925.be4ac8","name":"get token","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":100,"wires":[["144c413d.2ab0ff","25bc98a6.5ddd48"]]},{"id":"144c413d.2ab0ff","type":"function","z":"61e55925.be4ac8","name":"Pre Prediction","func":"var Age = global.get('Age')\nvar Temperature = global.get('Temperature')\nvar Systolic = global.get('Systolic')\nvar Diastolic = global.get('Diastolic')\nvar Pulse = global.get('Pulse')\nvar token=msg.payload.access_token\nvar instance_id=\"31ea5b84-c90e-4171-98a1-9afd71e724d0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"], \"values\": [[Age,Temperature,Systolic,Diastolic,Pulse]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":200,"wires":[["2621c014.d7fec"]]},{"id":"2621c014.d7fec","type":"http request","z":"61e55925.be4ac8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/7cfb3785-d840-4cb7-9421-3b66786f33e4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":200,"wires":[["59830ad8.83a274","e83eca38.a41bd8"]]},{"id":"59830ad8.83a274","type":"function","z":"61e55925.be4ac8","name":"output parsing","func":"var Age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"status\",output)\nmsg.payload = {\n  details: {\n    health: {\n      Age: Age,\n      temperature: Temperature,\n      systolic: Systolic,\n      diastloic:Diastolic,\n      pulse: Pulse,\n        output: output\n    }\n  }\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["75c8d615.5e7d48"]]},{"id":"75c8d615.5e7d48","type":"ui_template","z":"61e55925.be4ac8","group":"aaf66e17.e23f","name":"Health Prediction Output","order":0,"width":"10","height":"11","format":"<div layout=\"row\" layout-align=\"start center\">\n<span flex>age</span>\n<span flex>temperature</span>\n<span flex>systloic</span>\n<span flex>diastolic</span>\n<span flex>pulse</span>\n<span flex>Output</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"health in msg.payload.details\">\n<span flex style=\"color: green\"> {{health.age}} </span>\n<span flex style=\"color: red\"> {{health.temperature}} </span>\n<span flex style=\"color: blue\"> {{health.systolic}} </span>\n<span flex style=\"color: yellow\"> {{health.diastloic}} </span>\n<span flex style=\"color: black\"> {{health.pulse}} </span>\n<span flex style=\"color: Brown\"> {{health.output}} </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":290,"y":280,"wires":[["153905d4.7eee4a"]]},{"id":"85c3dcb7.3631b","type":"inject","z":"61e55925.be4ac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["7930b4af.d2903c"]]},{"id":"7930b4af.d2903c","type":"function","z":"61e55925.be4ac8","name":"sending the health status to ibmiot platform","func":"msg.payload=global.get(\"status\")\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["1c92b09.d5d974f"]]},{"id":"153905d4.7eee4a","type":"debug","z":"61e55925.be4ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":320,"wires":[]},{"id":"50431673.164aa8","type":"debug","z":"61e55925.be4ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":190,"y":40,"wires":[]},{"id":"25bc98a6.5ddd48","type":"debug","z":"61e55925.be4ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":80,"wires":[]},{"id":"e83eca38.a41bd8","type":"debug","z":"61e55925.be4ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":140,"wires":[]},{"id":"1c92b09.d5d974f","type":"ibmiot out","z":"61e55925.be4ac8","authentication":"apiKey","apiKey":"9516e6f5.4e6998","outputType":"evt","deviceId":"987654","deviceType":"1.0.6","eventCommandType":"","format":"string","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":420,"wires":[]},{"id":"7873d154.4fc64","type":"http in","z":"61e55925.be4ac8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":540,"wires":[["f9a4d7df.848f48"]]},{"id":"6e68178e.7407d8","type":"http response","z":"61e55925.be4ac8","name":"","statusCode":"","headers":{},"x":470,"y":540,"wires":[]},{"id":"f9a4d7df.848f48","type":"function","z":"61e55925.be4ac8","name":"","func":"msg.payload={'Temperature':global.get(\"Temperature\"),'Pulse':global.get(\"Pulse\"),'Diastolic':global.get(\"Diastolic\"),'Systolic':global.get(\"Systolic\"),'status':global.set(\"status\")}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["6e68178e.7407d8"]]},{"id":"9516e6f5.4e6998","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"aaf66e17.e23f","type":"ui_group","z":"","name":"Health Status","tab":"6638e418.d04b3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6638e418.d04b3c","type":"ui_tab","z":"","name":"Health Prediction","icon":"dashboard","disabled":false,"hidden":false}]